//IMPORT ORDER MATTERS IN THIS FILE, SO PLEASE BE CAREFUL TO LEAVE IT LIKE THIS:

//CUSTOM VARIABLES
@import "custom-styles/variables";

//BOOTSWATCH THEME VARIABLES
@import "variables";

//APPVERSE BOOTSTRAP THEME (FROM BOWER COMPONENTS)
@import "bootstrap-theme";

//BOOTSWATCH THEME
@import "theme";

//CUSTOM STYLES ADDED IN PARTIAL FILES
@import "custom-styles/partials";


.whiteframe{
    background-color:#F2FCE2;
    margin-top:15px;
    border-radius: 10px;
    padding:5px 10px;
}

.beer-image{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}