<!DOCTYPE html>
<div class="container-fluid">
 <div class="home">
         <h1>Beers </h1>
         <select name="style" ng-model="vm.selectedStyle" 
                 ng-options="option.shortName for option in vm.styles track by option.id"
                 ng-change="vm.reload()">
        </select>
        <md-whiteframe class="md-whiteframe-6dp whiteframe" layout layout-align="center center">
            <p><i class="glyphicon glyphicon-info-sign"> </i> - {{vm.selectedStyle.description}}</p>
        </md-whiteframe>
        <md-card>
            <div class="beer-image" style="background-image:url('{{vm.currentBeer.labels.large}}')"></div>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{vm.currentBeer.name}} - {{vm.currentBeer.abv}}º</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                {{vm.currentBeer.description}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button aria-label="left" ng-click="vm.back()"><i class="glyphicon glyphicon-chevron-left"> </i></md-button>
              <md-button aria-label="right" ng-click="vm.next()"><i class="glyphicon glyphicon-chevron-right"> </i></md-button>
            </md-card-actions>
      </md-card>
  </div>
</div>
